html{
	font-family: sans-serif;
}
pre {
	margin:1em 2em;
	padding:1em;
	background-color:#eee;
	color:#000;
	border:1px solid #999;
	border-left:0.5em solid #999;
}
img{
	box-shadow:#999 4px 4px 16px;
}
h1,h2,h3,h4{
	list-style:decimal;
	border-bottom:1px solid #ccc;
}
h2{
	page-break-before;
}
h3,h4,p{
	margin-left:2em;
}
hr {
	border:1px dashed #ddd;
	page: auto;
}