html{
	font-family: sans-serif;
	font-size:11pt;
}
pre {
	margin:1em 2em;
	padding:1em;
	background-color:#eee;
	color:#000;
	border:1px solid #999;
	border-left:0.5em solid #999;
	text-align:left;
	font-size:12pt;
	margin-right:5em;
	white-space:pre-wrap;
	box-shadow:#999 4px 4px 16px;
}
code{
	color:#009;
	font-size:12pt
}
img{
	box-shadow:#999 4px 4px 16px;
}
/* en mode screen, on n'affichage pas les pages de couverture (cover & backcover) */

#cover{
	display:none;
}

sup{
	text-align:center;
	font-size:9pt;
	color:#333;
}
hr {
	border:1px dashed #ddd;
	page: auto;
}
h1,h2,h3,h4{
	list-style:decimal;
	border-bottom:1px solid #ccc;
}
h1,h2{
	page-break-before;
}
p{
	margin:1em 0.5em;
}	
h3,h4,p{
	margin-left:2em;
}
